<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iSales | Dateneingabe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
<!-- HEADER -->
    <div class="navigation">
        <a href="/">Home</a>
        <a class="active" href="/input">Dateneingabe</a>
        <a href="/output">Datenausgabe</a>
    </div>
    <div class="dateneingabe">
        <div class="col" id="umsatzhinzufügen">
            <form action="{{ url_for('auflisten')}}" method="Post">
                  <h3>Umsatz hinzufügen:</h3>
                  <label for="year_list">Jahr:</label>
                  <select id="year_list" name="year_list">
                    {% for jahr in year_list %}
                    <option value="{{ jahr }}">{{ jahr }}</option>
                    {% endfor %}
                  </select>
                  <label for="lif_list">Lieferant:</label>
                  <select id="lif_list" name="lif_list">
                    {% for lieferant in lif_list %}
                    <option value="{{ lieferant }}">{{ lieferant }}</option>
                    {% endfor %}
                  </select>
                  <label for="kund_list">Kunde:</label>
                  <select id="kund_list" name="kund_list">
                    {% for kunde in kund_list %}
                    <option value="{{ kunde }}">{{ kunde }}</option>
                    {% endfor %}
                  </select>
                  <input type="number" name="eingabe_umsatz" placeholder="Umsatz eingeben">
                  <input type="submit" value="submit_umsatz" name="submit" >
            </form>
        </div>

        <div class="col" id="newkunderorlieferant">
            <form action="{{ url_for('auflisten')}}" method="Post">
                <h3>Neuer Kunde oder Lieferant hinzufügen:</h3>

                <input type="text" name="eingabe_newkund" placeholder="Kunde eingeben">
                <input type="text" name="eingabe_newlief" placeholder="Lieferant eingeben">
                <input type="submit" value="submit_kundlief" name="submit" >
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                          <li class="red">{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </form>
        </div>

        <div class="col" id="umsatzlöschen">
            <form action="{{ url_for('auflisten')}}" method="Post">
                <h3>Umsatz löschen:</h3>

                <input type="text" name="eingabe_id" placeholder="ID eingeben">
                <input type="submit" value="submit_deleteumsatz" name="submit" >
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                          <li class="red">{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </form>
        </div>
    </div>
</body>
</html>