<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iSales | Dateneingabe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
<!-- HEADER -->
    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="/input">Dateneingabe</a>
        <a href="/output">Datenausgabe</a>
    </div>
    <div>
        <form method="Post">
              <h3>Umsatz hinzufügen:</h3>
              <label for="year_list">Jahr:</label>
              <select id="year_list" name="year_list">
                {% for jahr in year_list %}
                <option value="{{ jahr }}">{{ jahr }}</option>
                {% endfor %}
              </select>
              <label for="lif_list">Lieferant:</label>
              <select id="lif_list" name="lif_list">
                {% for lieferant in lif_list %}
                <option value="{{ lieferant }}">{{ lieferant }}</option>
                {% endfor %}
              </select>
              <label for="kund_list">Kunde:</label>
              <select id="kund_list" name="kund_list">
                {% for kunde in kund_list %}
                <option value="{{ kunde }}">{{ kunde }}</option>
                {% endfor %}
              </select>
              <input type="number" name="eingabe_umsatz" placeholder="Umsatz eingeben">
              <input type="submit">
              <hr/>
        </form>
</body>
</html>