<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iSales | Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
<!-- HEADER -->
    <div class="navigation">
        <a class="active" href="/">Home</a>
        <a href="/input">Dateneingabe</a>
        <a href="/output">Datenausgabe</a>
    </div>
    <div class="home">
        <div class="col" id="einleitung">
            <h1>iSales</h1>
            <h2>Willkommen im Programm «iSales»</h2>
            <p>Ein Programm für Ihre Firma, in welchem Sie ganz einfach die Umsätze Ihrer Kunden eintragen können.
                Es gibt die Möglichkeit bei der Dateneingabe einen neuen Kunden oder Lieferanten zu Ihrem Portfolio hinzuzufügen.
                Zugleich können Sie direkt das jeweilige Jahr den Kunden und Lieferanten auswählen und einen Umsatz eintragen.
                Die gespeicherten Umsätze finden Sie bei der Datenausgabe schön dargestellt.
                Sie können mit einem intelligenten Filter alles sortieren und erhalten so den von Ihnen gesuchten Umsatz.
                Zudem kann man auch alles grafisch auswerten und so z.B. Umsätze in den verschiedenen Jahren vergleichen.
            </p>
            <h3>Jetzt viel Spass beim Nutzen!</h3>
        </div>
        <div class="col" id="logo">
            <img src="{{ url_for('static', filename='homebild.jpg') }}" alt="Homebild">
        </div>
    </div>

<!-- Footer -->
    <div class="footer">
        <p>&copy; Lukas Blickenstorfer / Digital Business Management Vollzeit 2019 / Modul: Programmieren 2 / Dozent: Fabian Odoni</p>
    </div>

</body>
</html>